<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditional Statement</title>
</head>
<body>
    <center>
        
    <!-- <h1>If conditions</h1>
    {% if a < 10 %}
        <h2>I am in if</h2>
        <h2>{{a}}</h2>
    {% endif %}
        
    <h1>If-else</h1>
    {% if a > b %}
        <h2>in if</h2>
        <h2>{{a}}</h2>
    {% else %}
        <h2>In Else</h2>
        <h2>{{b}}</h2>
    {% endif %}
        
    <h1>If-elif statemeents</h1>
    {% if a > b %}
        <h1>A is greater than B</h1>
    {% elif b > a %}
        <h1>B is greater than A</h1>
    {% else %}
        <h1>A and B are equal </h1>
    {% endif %}   -->
       
        <h1>Nested if</h1>
    {% if a > b %}
        {% if a > c %}
            <h1>A is Maxx</h1>
        {% else %}
            <h1>C is Maxx</h1>
        {% endif %}
    {% else %}
        {% if b > c %}
            <h1>B is Maxx</h1>
        {% else %}
            <h1>C is Maxx</h1>
        {% endif %}
    {% endif %}      
    </center>
</body>
</html>